@using System.Globalization
@model string
@{
    var persianCalender = new PersianCalendar();
    var date = persianCalender.GetYear(DateTime.Now) + "/" +
    persianCalender.GetMonth(DateTime.Now).ToString("00") + "/" +
    persianCalender.GetDayOfMonth(DateTime.Now).ToString("00");
}

<h2 style="border-color: red;border-radius: 20px ; padding: 20px ;border-style: solid;">
    Date : @date
    <br>
    this is model : @Model
</h2>