@model Proj.Models.User
@{
    ViewData["Title"] = "Details";
    Layout = "_MyLayout";
}
@* 
@section Header {
this is header
} *@

<H3>
    @Model.Name
</H3>
<h5>
    @Model.Family
</h5>
<h5>
    @Model.Age
</h5>

@section Footer {
this is footer
}